@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">EVENT MANAGEMENT SYSTEM</h1>
        <p class="lead">Welcome to our Event Management System your events is our priority.</p>
        
    </section>

    
</main>